/*Style sheet*/

/* trey styley*/

@import url(https://fonts.googleapis.com/css?family=Rationale);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #2E2E2E;
}

h1 {
    font: 100px/100px 'Rationale';
}

.center {
    text-align: center;
}
