/*Style sheet*/

/* trey styley*/

@import url(https://fonts.googleapis.com/css?family=Rationale);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
    background-color: #2E2E2E;
}

h1, h2, h3, h4, h5, h6 {
    color: snow;
}

h1 {
    font: 80px/80px 'Rationale';
}

h2 {
    font: 50px/50px 'Rationale';
}

.center {
    text-align: center;
}

/*Seconds gauge*/
.container {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.gauge {
    width: 450px;
    height: 450px;
}

/*Canvas*/
#myCanvas {
    width: 300px;
    height: 300px;
}

/*Round button center clock*/
#roundButton {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
